<section class="section">
  <div class="container">
    <div class="rows">
      <%= render 'search' %>
      <br/>
      <h1><strong>Searched words:</strong></h1>
      <br/>
    </div>
  </div>
</section>
